body{
    font-family: verdana, arial;
	background-color: #26212c;
	color: #e0e0eb;
    
    background-size: 100% 100%;
    

}
html{

height: 100%;
}

header{
	font-family: verdana, arial;
	font-size: 90px;    
    color:  #47476b;
    background-image: url("https://d13yacurqjgara.cloudfront.net/users/4908/screenshots/1287478/smart-home-icon.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20%;
    text-align: left;
    vertical-align: text-bottom;
}
.header{
    margin: 0 auto;
    display: block;
    background-repeat: no-repeat;
    width: 70%;
    
}
p{
    font-family: verdana, arial;
	padding: 0.5%;
	border-style: outset;
	border-color: white;
	border-width: 10%;
    font-size: 18px;

}

.center {
    margin: auto;
    width: 40%;
    border: 3px solid #f0f0f5;
    padding: 10px;
    text-align: center;
}

img {
    border: 2px solid #ddd;
    border-radius: 6px;
    padding: 5px;
    max-width: auto;
    height: 45%;
}

.img{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.button{
     background-color: #8d949e; /* Green */
    border: outset;
    color: white;
    padding: 1% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.w3-btn {
    width:200px;
    background-color: #999999;

}